*,
body {
	margin: 0;
	padding: 0;
	user-select: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
	outline: none;
}

::-webkit-scrollbar {
	width: 7px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #63b9db80;
	border-radius: 50px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #63b9db;
}
